/*-----------------------------    TABLEVIEW    ----------------------------------------------------*/
.table-view{
    -fx-background-color:  #20120F;
}

.table-view:focused{
    -fx-background-color: transparent;
}


.table-view .column-header-background{
    -fx-background-color: linear-gradient(#9C2C20 0%, #20120F 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}


.table-view .column-header {
    -fx-background-color: transparent;
}

.table-column {
  -fx-alignment: center;
}

/*-----------------------------    LIBRARY -- MENU BUTTON    ----------------------------------------------------*/

#showMovie,
#addMovie,
#deleteMovie,
#rankingMovie,
#id_login, 
#id_signup
{
	-fx-background-radius: 30;
    -fx-background-insets: 0;
}

#showMovie:hover,
#addMovie:hover,
#deleteMovie:hover,
#rankingMovie:hover,
#id_login:hover, 
#id_signup:hover
{
	-fx-opacity: 1;
	-fx-font-size: 16px;
    -fx-text-fill: maroon;
	-fx-font-weight: bold;
}

#showMovie:focused,
#addMovie:focused,
#deleteMovie:focused,
#rankingMovie:focused,
#id_login:focused, 
#id_signup:focused {
	-fx-opacity: 1;
	-fx-font-size: 16px;
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
	-fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
	-fx-font-weight: bold;
	
}


/*-----------------------------    LIBRARY    ------------------------------------------------------*/
#labelLibraryInUpPane {
     -fx-background-color:  transparent;
	 -fx-font-size: 50px;
	 -fx-text-fill: white;
	 -fx-font-weight: bold; 
}

#id_categoryMovie,
#deleteMovieCombobox
{
    -fx-background-color:  transparent;
	-fx-border-color: white;
	-fx-opacity: 0.6;
}

#id_slider
{
	-fx-color: -fx-accent;
	-fx-text-fill: -fx-accent;
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #2D819D 50%, #969696 50%);
}
/* CENTER PROMPT TEXT IN combobox*/
.combo-box-base .list-cell
{
	-fx-alignment: center;
	-fx-font-size: 14px;
}
.combo-box-base .text{
	-fx-fill: white;
    -fx-effect: dropshadow( two-pass-box , darkred , .5, 10 , 1 , 1);  
 }

 /* BACKGROUND LIST IN Combobox*/
 .combo-box-popup .list-view {
    -fx-background-color: #22394b;
	-fx-border-color: white;
 }
 
 /* DROP-DOWN LINE BACKGROUND IN Combobox*/
.combo-box-popup .list-view .list-cell 
{
	-fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell:filled {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: -fx-accent;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: -fx-accent;
}

/*-----------------------------    MENU -- Set background color in pane main menu etc    ----------------------------------------------------*/
#anchorPaneRight,
#paneLogin,
#paneSignup
{
	-fx-background-color:  #22394b;
}

#paneMenu,
#anchorPaneLeft
{
    -fx-background-color:  #36394b;
}

#errorLabel,
#informatonSuccessfulLabel
{
	-fx-font-family: 'Century Gothic';
	-fx-font-size: 12px;
	-fx-text-fill: #eb5555;
	-fx-alignment: center;
}

/*-----------------------------    MENU -- settings Login and Menu    ----------------------------------------------------*/
#loginButton
{
	-fx-font-family: Century Gothic;
	-fx-text-fill: white;
	-fx-font-size: 17px;
	-fx-font-weight: bold ;
    -fx-background-radius: 50; 
    -fx-background-opacity: 1px;
	-fx-background-color: #338033;
}

#loginButton:hover {
	
	-fx-font-size: 20px;
    -fx-background-radius: 50; 
    -fx-background-opacity: 1px;
}

#newAccountLabel,
#signupLabel
{
	-fx-text-fill: white;
}

#signupLabel:hover
{
	-fx-text-fill: darkred;
	-fx-underline: true;
	-fx-text-shadow: rgba(255,255,255,0.5) 0 2px 2px;
}

#id_user,
#id_password,
#id_repeatPassword,
#id_textFieldPassword,
#id_textFieldRepeatPassword
{
	-fx-text-fill: white;
    -fx-background-color:  #22394b;
	-fx-border-color: white white white white;
	-fx-border-top-color: #22394b;
	-fx-border-width: 1;
}
